<div class="nav-wrapper">
        <a href="/lax" class="brand-logo center">San Diego Section Lacrosse</a>
        
        <ul class="right hide-on-med-and-down">
          <li><a href="/lax/new">New Game Score</a></li>

        </ul>
      </div>
      