<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../../public/head.ejs') %>
  </head>
  <body>
    <nav class="teal lighten-2">
      <%- include ('../../public/nav.ejs') %>
    </nav>
    <div class="container">
      <h1 style="text-align: center;">New User</h1>
      <form action="/users" method="POST">
        <div class="input-field col s5">
            <label for="name">User Name</label>
            <input type="text" name="username" required/>
        </div>
        <div class="input-field col s5">
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <br>
      <input class="waves-effect waves-light btn-small" type="submit" value="Sign Up">
    </div>
  </body>
</html>
